/* 
*Подключение шрифтов
*/

@font-face {
    font-family: GothaProBol;
    src: url(../fonts/GothaProBol.otf);
}

/* 
* Интро, страница приветствия
*/

body {
    background-image: url(../img/intro/bg-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-logo__pic {
    width: 162px;
    height: 119px;
}

.main-logo {
    margin: 0 auto;
    text-align: center;
    padding: 583px 477px 29px 475px;
}

.main-btn {
    width: 184px;
    height: 46px;
    text-align: center;
    border: 2px solid #ec1e79;
    margin: 0 auto;
    cursor: pointer;
}

.main-btn__item {
    color: #ec1e79;
    font-size: 12px;
    line-height: 50px;
    font-family: GothaProBol;
    text-decoration: none;
    text-transform: uppercase;
}

.main-btn:hover .main-btn__item {
    color: #ffffff;
}

.main-btn:hover {
    background-color: #ec1e79;
}

