/* 
* Стилизация футера
*/

.footer {
    height: 77px;
    background: #27273e;
    color: #ffffff;
    margin-top: -77px;
    min-width: 1100px;
}

.footer_col {
    width: 33.3%;
    float: left;
}

.footer-info {
    padding-top: 5px;
}

.loft-school {
    color: #ffffff;
    font-weight: bold;
}

.author-name {
    font-weight: bold;
}

.footer__logo {
    padding-top: 10px;
}

.footer__link {
    display: block;
    text-align: center;
}

/* Стилизация социальных сетей */

.social__text {
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
}

.footer-social {
    text-align: right;
    display: block;
}

.social__list {
    display: block;
    padding-right: 47px;
    padding-top: 4px;
}

.social__item {
    display: inline-block;
    padding: 0 3px;
}


