/* Верхняя навигация */

.page-menu {
    padding-top: 42px;
    font-style: italic;
}

.page-menu__item {
    display: inline-block;
    vertical-align: middle;
}

.page-menu__item:after {
    content: "/";
    color: #656464;
}

.page-menu__link {
    font-size: 14px;
    line-height: 18px;
    color: #f06499;
    display: inline-block;
}

.page-menu__item--last:after {
    content: "";
}

.page-menu__item--last .page-menu__link {
    color: #656464;
    text-decoration: none;
}

/* Стилизация тарифов */

.prices-text {
    font-size: 49px;
    line-height: 40px;
    color: #221f1f;
    padding-bottom: 25px;
}

.prices-list__item {
    text-align: center;
    width: 250px;
    margin-right: 43px;
    margin-bottom: 30px;
    position: relative;
}

.prices-list__price {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    color: #221f1f;
    padding: 20px 0 10px 0;
}

.prices-list__pic {
    width: 250px;
    height: 153px;
    border-radius: 2px;
    opacity: 15%;
}

.prices-pic__text {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 22px;
    color: #5dd1f8;
}

.prices-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.prices-list__text {
    font-size: 14px;
    color: #221f1f;
    line-height: 22px;
}

