/*
* Стилизация главной страницы
*/

.page-image {
  height: 355px;
  position: relative;
}

.page-image__text {
  position: absolute;
  top: 125px;
  left: 66px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 49px;
  line-height: 39px;
}

/* Стилизация текста */

.page-text {
    width: 700px;
}

.page-text p {
  margin-bottom: 20px;
  font-size: 18px;
}

.page-text li {
  margin-bottom: 15px;
  padding-left: 30px;
  background: url('../../img/workadium/list-bullet.png') 10px 10px no-repeat;
}

.page-text h3 {
  color: #221f1f;
}

/* Стилизация описания */

.description {
  width: 700px;
  background-color: #27273e;
  color: #ffffff;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 30px;
}

.description__pink-text {
  color: #ec1e79;
  font-weight: bold;
}

/* Стилизация партнеров */

.partners__title {
  font-size: 49px;
  color: #221f1f;
  line-height: 40px;
  margin-top: 70px;
}

.partners__list {
  list-style: none;
  padding: 20px;
  width: 700px;
  text-align: justify;
  margin: 0;
}

.partners__list:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
}

.partners__list--down {
  padding-bottom: 50px;
}

.partners__item {
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 50px;
}

.partners__pic {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .3s;
}

.partners__pic:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}