/* 
* Стилизация футера
*/

.footer {
    height: 77px;
    background: #27273e;
    color: #ffffff;
    margin-top: -77px;
    min-width: 1100px;
}

.footer_col {
    width: 33.3%;
    float: left;
}

.footer-info {
    margin-top: 5px;
}

.loft-school {
    color: #ffffff;
    font-weight: bold;
}

.author-name {
    font-weight: bold;
}

.footer__logo {
    padding-top: 10px;
}

/* Стилизация социальных сетей */

.social__text {
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
}

.footer-social {
    text-align: right;
    display: block;
}

.social__item {
    display: inline-block;
}

.social__list {
    margin-right: 45px;
}

.footer__link {
    display: block;
    text-align: center;
}

.footer__logo {
    padding-top: 10px;
}

.social__text {
    padding-top: 10px;
}

.nav-menu__icon-vk {
  background: url('../../img/social/vk.png');
}

.nav-menu__icon-facebook {
  background: url('../../img/social/facebook.png');
}

.nav-menu__icon-google {
  background: url('../../img/social/google.png');
}

.nav-menu__icon-twitter {
  background: url('../../img/social/twitter.png');
}

.nav-menu__icon-mail {
  background: url('../../img/social/mail.png');
}

.nav-menu__icon-vk:hover {
  background: url('../../img/social/vk-pink.png');
}

.nav-menu__icon-facebook:hover {
  background: url('../../img/social/facebook-pink.png');
}

.nav-menu__icon-google:hover {
  background: url('../../img/social/google-pink.png');
}

.nav-menu__icon-twitter:hover {
  background: url('../../img/social/twitter-pink.png');
}

.nav-menu__icon-mail:hover {
  background: url('../../img/social/mail-pink.png');
}

.nav-menu__icon {
    width: 20px;
    height: 20px;
	background-repeat: no-repeat;
    display: inline-block;
    transition: .5s all ease-in-out;
    margin: 0 3px;
}


